@model Paramdic.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<h1>Create new Account</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">

            <div class="form-group">
                <label asp-for="FristName" class="control-label"></label>
                <input asp-for="FristName" class="form-control" />
                <span asp-validation-for="FristName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="socialStatus" class="control-label"></label>
                <input asp-for="socialStatus" class="form-control" />
                <span asp-validation-for="socialStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfairmPassword" class="control-label"></label>
                <input asp-for="ConfairmPassword" class="form-control" />
                <span asp-validation-for="ConfairmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
